<!-- <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<form (ngSubmit)="printInfo()">
    <div class="container" width="800px" id="invoice" >
      <div class="row">
        <div class="col-xs-12 heading">
          INVOICE
        </div>
      </div>
      <div class="row branding">
        <div class="col-xs-6">
          <div class="invoice-number-container">
            <label for="invoice-number">Invoice #{{invoice_number}}</label>
          </div>
        </div>
      </div>
      <div class="items-table">
        <div class="row header">
          <div class="col-xs-1">&nbsp;</div>
          <div class="col-xs-5">Description</div>
          <div class="col-xs-5 text-right">Total</div>
        </div>

        <div class="row invoice-item" ng-repeat="item in invoice.items" ng-animate="'slide-down'">
          <div class="col-xs-1 remove-item-container">
            <a href ng-hide="printMode" ng-click="removeItem(item)" class="btn btn-danger">[X]</a>
          </div>
          <div class="col-xs-5 input-container">
            <input ng-model="item.description" placeholder="Description" />
          </div>
          <div class="col-xs-2 input-container">
            <input ng-model="item.qty" value="1" size="4" ng-required ng-validate="integer" placeholder="Quantity" />
          </div>
          <div class="col-xs-2 input-container">
            <input ng-model="item.cost" value="0.00" ng-required ng-validate="number" size="6" placeholder="Cost" />
          </div>
        
        </div>
        <div class="row invoice-item">
          <div class="col-xs-12 add-item-container" ng-hide="printMode">
            <a class="btn btn-primary" href ng-click="addItem()" >[+]</a>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
              
                <label for="description">
                    <h4>Swab Test</h4>
                </label>
            </div>
          <div class="col-xs-5 text-right">Sub Total</div>
          <div class="col-xs-2 ">{{invoiceSubTotal()}}</div>
        </div>
        <div class="row">
          <div class="col-xs-10 text-right">Tax(%): </div>
          <div class="col-xs-2 ">{{calculateTax()}}</div>
        </div>
        <div class="row">
          <div class="col-xs-10 text-right">Grand Total:</div>
          <div class="col-xs-2">{{calculateGrandTotal()}}</div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Print</button>
        <button class="btn btn-primary" ng-click="clearLocalStorage()">Reset</button>
      </div>
    </div> -->
    <form ngNativeValidate (ngSubmit)="saveBill()">
      <div class="container justify-content-center">
        <div class="col d-flex justify-content-center">
          <div class="card mt-5" style="width: 60rem;">
              <div class="card-body">
                 
                  <h3 style="background-color:#357EBD; color:#FFF; text-align:center;">INVOICE</h3>
                  <h6 class="card-title text-center">Covid-19 HMS</h6>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" [(ngModel)]="bill.patientName"  #name="ngModel" required [class.is-invalid]="name.invalid && name.touched">
                    <label for="name">Patient Name</label>
                    <div *ngIf="name.invalid && name.touched"> 
                      <small class="text-danger" *ngIf="name.errors.required">Patient Name is Required!</small>
                      </div>
                  </div>
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Description" id="description" name="description" style="height: 100px"  [(ngModel)]="bill.patientDescription"  #description="ngModel" required [class.is-invalid]="description.invalid && description.touched"></textarea>
                    <label for="description">Patient Description</label>
                    <div *ngIf="description.invalid && description.touched"> 
                      <small class="text-danger" *ngIf="description.errors.required">Description is Required!</small>
                      </div>
                  </div>
                  <br>
                  
                        <div class="form-floating mb-3" >
                          <input type="text" class="form-control" id="amount" name="amount" placeholder="  Enter Amount"  [(ngModel)]="bill.totalAmount"  #amount="ngModel" required [class.is-invalid]="amount.invalid && amount.touched">
                          <label for="amount">Total Amount</label>
                          <div *ngIf="amount.invalid && amount.touched"> 
                            <small class="text-danger" *ngIf="amount.errors.required">Amount is Required!</small>
                            </div>
                        </div>
            
                  <div>
                    <label for="tax"> Include 12% GST </label><br>
                    
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-info" type="submit">Save</button>
                    <button class="btn btn-primary" (click)="printInfo()">Print</button>
                  </div>
                  <div class="modal-footer text-primary">
                    {{text}}
                  </div>

              </div>
          </div>
        </div>
      </div>
    </form>