<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand text-primary">Covid-19 HMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse row" id="navbarNav"*ngIf="nav.visible || nav.patient || nav.doctor || nav.admin">
        <ul class="navbar-nav">
           


            
                <li class="nav-item active">
                    <a class="nav-link" routerLink='home'>Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item"  >
                    <a class="nav-link" routerLink='countries'>Countries</a>
                </li>
                <li class="nav-item"  >
                    <a class="nav-link"  routerLink='vaccination' >Vaccination</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link"  routerLink='general-appointment'>Test Appointment</a>
                </li>
                <li class="nav-item"   >
                    <a class="nav-link"  routerLink='userprofile' >Profile</a>
                </li>
             



              
            <li class="nav-item" ng-hide="isHidden"  >
                <a class="nav-link"  routerLink='pending-appointment'>Pending Appointment</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link"  routerLink='patienthistory' >Bill's</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link"  routerLink='vaccinependingappointments' >Vacc Appointment's</a>
            </li>


          


            <li class="nav-item" >
                <a class="nav-link"  routerLink='invoice'  >Invoice</a>
            </li>
          
            <li class="nav-item"  >
                <a class="nav-link"  routerLink='patienthistory' >Patient History</a>
            </li>
            <li class="nav-item"   >
                <a class="nav-link"  routerLink='registerdoctor'  >Dr. Registration</a>
            </li>
            <li class="nav-item"  >
                <a class="nav-link"  routerLink='allpatient'  >All Patient's</a>
            </li>
            <li class="nav-item"   >
                <a class="nav-link"  routerLink='alldoctor'  >All Doctor's</a>
            </li>
          


        </ul>  
    </div>

    <div class="ml-auto text-primary"  *ngIf="nav.visible">
         Welcome, {{ currentName | titlecase }}   
    </div>&nbsp;
    <div class="ml-auto"  *ngIf="nav.visible">
        <button type="submit" class="btn btn-primary btn-sm" style="border-radius: 20px;" (click)="logOut()">Logout</button>
   </div>
</nav>


