  <div class="col d-flex justify-content-center" style="margin: auto; width: 50%; margin-top: 5%">
  <div class="card  mt-5 border-primary" style="width: 50rem;">
    <div class="card-header text-white bg-primary">
      Test Appointment Status
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Congratulations, {{currentName | titlecase}} you have successfully submitted the questionnaire for Covid-19 Test appointment on {{currentappointmentDate | date:'fullDate' }}.<br>
            Please confirm your appointment and our hospital very soon you will get the confirmation
            mail on your registered mail Id. </p>
            <br>
            <table class="table table-striped">
              <thead>
                  <tr>
                    <th> Do you have dry cough?</th>
                    <th> Do you have fever?</th>
                    <th>Loss of taste or smell ?</th>
                    <th> Difficulty in breathing or shortness of breath ?</th>
                  </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{currentQ1  | titlecase}}</td>
                  <td>{{currentQ2 | titlecase}}</td>
                  <td>{{currentQ3 | titlecase}}</td>
                  <td>{{currentQ4 | titlecase}}</td>
                </tr>
              </tbody>
            </table>
            <br>
            <div class="text-center">
              <button class="btn btn-primary" (click)="confirmApp()">Confirm Appointment</button> &nbsp; &nbsp;
              <button class="btn btn-danger" (click)="cancelAppointment(this.currentsubmittedId)">Cancel Appointment</button>
             </div>
        <footer class="blockquote-footer">Covid-19 HMS<cite title="Source Title"></cite></footer>
      </blockquote>
    </div>
  </div>
  </div>

    