<div class="container mt-5">
    <h2 class="text-center" style="color: gray;">All Vaccination Appointment's</h2>
    <table class="table table-striped ">
      <thead>
          <tr class="text-primary">
            <th>Id</th>
            <th>Date</th>
            <th>Adult Count</th>
            <th>Child Count</th>
            <th>Time</th>
            <th>Patient Name</th>
            
           
           
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vac of vaccine | paginate: { itemsPerPage: 5, currentPage: p }">
          <td>{{ vac.id  }}</td>
          <td>{{ vac.date  }}</td>
          <td>{{ vac.adultCount }}</td>
          <td>{{ vac.childCount}}</td>
          <td>{{ vac.time}}</td>
          <td>{{ vac.patientName }}</td>
          
        </tr>
      </tbody>
    </table>
    <div class="text-center ">
      <pagination-controls (pageChange)="p = $event"  ></pagination-controls>
    </div>
  </div>