<div class="container mt-5">
    <h2 class="text-center" style="color: gray;">Pending Appointment's</h2>
    <table class="table table-striped ">
      <thead>
          <tr class="text-primary">
            <th>Id</th>
            <th>UserName</th>
            <th>AppointmentDate</th>
            <th>Headache</th>
            <th>Fever</th>
            <th>Cold</th>
            <th>Bp </th>
            <th>Diabetes </th>
            <th>Prescription</th>
            <th>MedicalHistory </th>
            <th>RespiratoryProblems</th>
            <th>ForeignTravelling </th>
            <th>Appointment Status</th>
          
           
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let general of generalappointments | paginate: { itemsPerPage: 2  , currentPage: p }">
          <td>{{ general.id  }}</td>
          <td>{{ general.userName | titlecase  }}</td>
          <td>{{ general.appointmentDate }}</td>
          <td>{{ general.headache}}</td>
          <td>{{ general.fever }}</td>
          <td>{{ general.cold }}</td>
          <td>{{ general.bp}}</td>
          <td>{{ general.diabetes}}</td>
          <td>{{ general.prescription}}</td>
          <td>{{ general.medicalHistory}}</td>
          <td>{{ general.respiratoryProblems}}</td>
          <td>{{ general.foreignTravelling}}</td>          
          <td>
            <button class="btn btn-info">Approve</button> 
              &nbsp; &nbsp;
            <button class="btn btn-danger" (click)="deleteRow(general.id)">Decline</button></td>
        </tr>
      </tbody>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>
  </div>