<div class="container mt-5">
    <h2 class="text-center" style="color: gray;">Pending Appointment's</h2>
    <table class="table table-striped ">
      <thead>
          <tr class="text-primary">
            <th>Id</th>
            <th>UserName</th>
            <th>AppointmentDate</th>
            <th>Dry Cough</th>
            <th>Fever</th>
            <th>Loss Of Taste</th>
            <th>Breath </th>
            <th>Appointment Status</th>
            
            
          
           
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let general of generalappointments | paginate: { itemsPerPage: 8  , currentPage: p }">
          <td>{{ general.id  }}</td>
          <td>{{ general.userName | titlecase  }}</td>
          <td>{{ general.appointmentDate }}</td>
          <td>{{ general.dryCough}}</td>
          <td>{{ general.fever }}</td>
          <td>{{ general.lossOfTaste }}</td>
          <td>{{ general.breath}}</td>

        
          <td *ngIf="approveShow && declineShow">
            <button class="btn btn-primary" (click)="approveAppointment(general.patientId)">Approve</button> 
              &nbsp; &nbsp;
            <button class="btn btn-danger" (click)="deleteRow(general.id)">Decline</button></td>
            <td *ngIf="!approveShow"><button  [disabled]="true" class="btn btn-primary">Approved</button></td>
            <td *ngIf="!declineShow"><button  [disabled]="true" class="btn btn-danger">Declined</button></td>
          
           
        </tr>
      </tbody>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>
  </div>