<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container mt-5">
  <h2 class="text-center" style="color: gray;"> All Doctor's</h2>
  <table class="table table-striped ">
    <thead>
      <tr class="text-primary">

        <th>Doctor Name</th>
        <th>Doctor Email Id</th>
        <th>Doctor Degree</th>
        <th>Phone Number</th>
        <th>DOB</th>
        <th>Address</th>
        <th>Password</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doctor of doctor">

        <td>{{ doctor.doctorname | titlecase }}</td>
        <td>{{ doctor.emailid }}</td>
        <td>{{ doctor.doctordegree}}</td>
        <td>{{ doctor.mobilenumber}}</td>
        <td>{{ doctor.dateofbirth}}</td>
        <td>{{ doctor.address}}</td>
        <td>{{ doctor.password }}</td>


      </tr>
    </tbody>
  </table>

</div>