<div class="col d-flex justify-content-center" style="margin: auto; width: 50%; margin-top: 5%">
    <div class="card  mt-5 border-primary" style="width: 50rem;">
      <div class="card-header text-white bg-primary">
        Vaccination Appointment Status
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>Congratulations, {{currentName | titlecase}} you have successfully booked vaccination appointment.
              You will get confirmation of the same on the registered mail id. </p>
              <div class="text-center">
                <button class="btn btn-primary" (click)="confirmApp()">Proceed</button>
              
               </div>
             
          <footer class="blockquote-footer">Covid-19 HMS<cite title="Source Title"></cite></footer>
        </blockquote>
      </div>
    </div>
    </div>
  
      