
<div class="col d-flex justify-content-center">
  <div class="card mt-5" style="width: 30rem;">
      <div class="card-body">
          <h3 class="card-title text-primary">User Profile</h3>
          
          <p style="color:grey"> User ID:         {{currentId}} </p>
          <p style="color:grey">User Name:  {{currentName}}</p>
          <p style="color:grey">User Email:   {{currentEmail}}</p>
      </div>
  </div>
</div>
  

<div class="col d-flex justify-content-center">
  <div class="card mt-5" style="width: 30rem;">
      <div class="card-body">
          <h3 class="card-title text-primary">Covid-19 Test appointments</h3> 
          <table class="table table-striped" *ngIf="general?.length">
            <ng-container *ngFor="let gen of general">
            <tr>
              <td><p style="color:grey">Status: </p></td>
              <td><p style="color:grey">Pending </p></td>
            </tr>
            <tr>
              <td><p style="color:grey">Appointment Date: </p></td>
              <td><p style="color:grey">{{gen.appointmentDate}} </p></td>
            </tr>
          </ng-container>
          </table>
          <p *ngIf="!general?.length" style="color:grey">Not Applicable </p>
      </div>
  </div>
</div>


<div class="col d-flex justify-content-center">
  <div class="card mt-5" style="width: 30rem;">
      <div class="card-body">
          <h3 class="card-title text-primary">Vaccination appointment</h3>
          <table class="table table-striped " *ngIf="vaccine?.length">
            <ng-container *ngFor="let v of vaccine">
            <tr>
              <td><p style="color:grey">Status: </p></td>
              <td><p style="color:grey">Pending </p></td>
            </tr>
            <tr>
              <td><p style="color:grey">Appointment Date: </p></td>
              <td><p style="color:grey">{{v.date}} </p></td>
            </tr>
            <tr>
              <td><p style="color:grey">Date for Second Dose of Vaccination: </p></td>
              <td><p style="color:grey">{{getSecondDate(v.date)}} </p></td>
            </tr>
          </ng-container>
          </table>
          <p *ngIf="!vaccine?.length" style="color:grey">Not Applicable </p>
      </div>
  </div>
</div>


<div class="col d-flex justify-content-center">
  <div class="card mt-5" style="width: 30rem;">
      <div class="card-body">
          <h3 class="card-title text-primary">Invoice</h3>
          <table class="table table-striped " *ngIf="bill?.length">
            <ng-container *ngFor="let b of bill">
            <tr>
              <td><p style="color:grey">Status: </p></td>
              <td><p style="color:grey">Pending </p></td>
            </tr>
            <tr>
              <td><p style="color:grey">Invoice ID: </p></td>
              <td><p style="color:grey">{{b.id}} </p></td>
            </tr>
            <tr>
              <td><p style="color:grey">Description: </p></td>
              <td><p style="color:grey">{{b.patientDescription}} </p></td>
            </tr>
            <tr>
              <td><p style="color:grey">Grand Amount: </p></td>
              <td><p style="color:grey">{{b.totalAmount}} </p></td>
            </tr>
          </ng-container>
          </table>
          <p *ngIf="!bill?.length" style="color:grey">Not Applicable </p>
      </div>
  </div>
</div>
  
  
  