<div class="container mt-5">
    <h2 class="text-center" style="color: gray;"> All Patient's</h2>
    <table class="table table-striped ">
      <thead>
          <tr class="text-primary">
            <th>Id</th>
            <th>User Name</th>
            <th>Email Id</th>
            <th>Password</th>
                     
          </tr>
      </thead>
      <tbody>

        <tr *ngFor="let user of users | paginate: { itemsPerPage: 3, currentPage: p }">
          <td>{{ user.id }}</td>
          <td>{{ user.userName | titlecase  }}</td>
          <td>{{ user.emailId }}</td>
          <td>{{ user.password}}</td>
         
        </tr>
      </tbody>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>
  </div>