
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,600" rel="stylesheet">

	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
                <header>
                    <h1>Vaccination Appointment</h1>
                </header>
				<div class="row">
					<div class="booking-form">
						<form (ngSubmit)="checkVaccineAppointment()" ngNativeValidate>
							<!--<div class="col-md-8">
								<div class="form-group">
									<input class="form-control" type="text" placeholder="Enter Address, zip, city or airport">
									<span class="form-label">Destination</span>
								</div>
							</div>-->
							
							<div class="col-md-4">
								<div class="form-group">
									<input class="form-control" id="date" name="date" [(ngModel)]="vaccine.date" type="date" [min]="minDate | date:'yyyy-MM-dd'" required>
									<span class="form-label">Date</span>
								</div>
							</div>
                            <div class="col-md-4">
								<div class="form-group">
									<input class="form-control" name="time" [(ngModel)]="vaccine.time" type="time" required>
									<span class="form-label">Time</span>
								</div>
							</div>
                            <div class="col-md-2">
								<div class="form-group">
									<input type="number" class="form-control" name="adultCount" [(ngModel)]="vaccine.adultCount" min="1" max="100" value="1" required>
									<span class="select-arrow"></span>
									<span class="form-label">Adult</span>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
                                    <input type="number" class="form-control" name="childCount" [(ngModel)]="vaccine.childCount" min="1" max="100" value="0">
								    <span class="select-arrow"></span>
									<span class="form-label">Children</span>
								</div>
							</div>
							<!--<div class="col-md-4">
								<div class="form-group">
									<input class="form-control" type="date" required>
									<span class="form-label">Check out</span>
								</div>
							</div>-->
							<div class="col-md-4">
								<div class="form-btn">
									<button type="submit" class="btn submit-btn btn-primary">Book an Appointment</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>