<body ng-app="" (ngSubmit)="onSubmit()">
    <h1>Questionnaire</h1>
<form>
    <table>
        <tr>
         <td>
             Do you have headache?
         </td>
         <td>
             <input type="radio" class="custom-control-input" value="yes" name="trueValue1" ngModel>Yes
             <input type="radio" class="custom-control-input" value="no" name="trueValue1" ngModel>No
         </td>
        </tr>
        <tr>
            <td>
                Do you have fever?
            </td>
            <td>
                <input type="radio" class="custom-control-input" value="yes" name="trueValue2" ngModel>Yes
                <input type="radio" class="custom-control-input" value="no" name="trueValue2" ngModel>No
            </td>
        </tr>
        <tr>
            <td>
                Do you have cold?
            </td>
            <td>
                <input type="radio" class="custom-control-input" value="yes" name="trueValue3" ngModel>Yes
                <input type="radio" class="custom-control-input" value="no" name="trueValue3" ngModel>No
            </td>
           </tr>
           <tr>
            <td>
                Do you have BP problems?
            </td>
            <td>
                <input type="radio" class="custom-control-input" value="yes" name="trueValue4" ngModel>Yes
                <input type="radio" class="custom-control-input" value="no" name="trueValue4" ngModel>No
            </td>
           </tr>
           <tr>
            <td>
                Do you have diabetes?
            </td>
            <td>
                <input type="radio" class="custom-control-input" value="yes" name="trueValue5" ngModel>Yes
                <input type="radio" class="custom-control-input" value="no" name="trueValue5" ngModel>No
            </td>
           </tr>
           <tr>
            <td>
                Are you on any prescription?
            </td>
            <td>
                <input type="radio" class="custom-control-input" value="yes" name="trueValue6" ngModel>Yes
                <input type="radio" class="custom-control-input" value="no" name="trueValue6" ngModel>No
            </td>
           </tr>
           <tr>
            <td>
                Do you have any medical history?
            </td>
            <td>
                <input type="radio" class="custom-control-input" value="yes" name="trueValue7" ngModel>Yes
                <input type="radio" class="custom-control-input" value="no" name="trueValue7" ngModel>No
            </td>
           </tr>
           <tr>
            <td>
                Do you have any respiratory problems?
            </td>
            <td>
                <input type="radio" class="custom-control-input" value="yes" name="trueValue8" ngModel>Yes
                <input type="radio" class="custom-control-input" value="no" name="trueValue8" ngModel>No
            </td>
           </tr>
           <tr>
            <td>
                Do you have history of foreign travelling?
            </td>
            <td>
                <input type="radio" class="custom-control-input" value="yes" name="trueValue9" ngModel>Yes
                <input type="radio" class="custom-control-input" value="no" name="trueValue9" ngModel>No
            </td>
           </tr>      
        
     <!--<div class="custom-control custom-radio">
        Do you have history of foreign travelling?
        <input type="radio" class="custom-control-input" value="yes" name="trueValue9" ngModel>Yes
        <input type="radio" class="custom-control-input" value="no" name="trueValue9" ngModel>No
     </div>-->     
    </table>
     <button type="submit" class="btn btn-success btn-block" (click)="onSubmit()">Submit</button>
    
   </form>
   <section style="display: block;" class="body current" id="wizard-p-4" role="tabpanel" aria-labelledby="wizard-h-4" aria-hidden="false">
    <div class="wrapper_row">
      <div class="row js_error_placement_parent step_5">
        <div class="m_header_step" data-step="5">
          <h1 class="js_error_placement quizz_question required_field">¿Cuál es tu época preferida del año para viajar?</h1>
        </div>
  
        <div class="m_options js_quizz_question">
          <ul>
            <li>
              <div class="m_option js_ok_ko_class_placement">
                <input class="m_option_input js_quizz_radio" data-msg-required="Choose one of the options" required="required" type="radio" value="36428" name="participation[promo_response_attributes][response_11732]" id="participation_promo_response_attributes_response_11732_36428" aria-required="true">
                <label class="m_option_label" for="participation_promo_response_attributes_response_11732_36428">Semana Santa</label>
              </div>
            </li>
            <li>
              <div class="m_option js_ok_ko_class_placement">
                <input class="m_option_input js_quizz_radio" data-msg-required="Choose one of the options" required="required" type="radio" value="36429" name="participation[promo_response_attributes][response_11732]" id="participation_promo_response_attributes_response_11732_36429" aria-required="true">
                <label class="m_option_label" for="participation_promo_response_attributes_response_11732_36429">Verano</label>
              </div>
            </li>
            <li>
              <div class="m_option js_ok_ko_class_placement">
                <input class="m_option_input js_quizz_radio" data-msg-required="Choose one of the options" required="required" type="radio" value="36430" name="participation[promo_response_attributes][response_11732]" id="participation_promo_response_attributes_response_11732_36430" aria-required="true">
                <label class="m_option_label" for="participation_promo_response_attributes_response_11732_36430">Navidades</label>
              </div>
            </li>
            <li>
              <div class="m_option js_ok_ko_class_placement">
                <input class="m_option_input js_quizz_radio" data-msg-required="Choose one of the options" required="required" type="radio" value="36431" name="participation[promo_response_attributes][response_11732]" id="participation_promo_response_attributes_response_11732_36431" aria-required="true">
                <label class="m_option_label" for="participation_promo_response_attributes_response_11732_36431">Otros puentes/fiestas</label>
              </div>
            </li>
          </ul>
        </div>
      </div><!-- - class=row -->
    </div><!-- - class=wrapper_row -->
  </section>
</body>
       
   