<div class="card  m-5 mb-5">
<body ng-app="">
    <h1 class="text-center" style="color: gray;">Questionnaire</h1>
<form #GeneralAppointmenform="ngForm" (ngSubmit)="saveAppointment()">
    <table class="table ">
        
        <tbody>
        <tr>
            <td>
                <label>Name :  </label>
                <label for="name" name="name" id="name" [(ngModel)]="general.userName">{{general.userName | titlecase}}</label>
               
            </td>
            <td>
                
                <div class="col-md-4">
                    <input class="form-control" type="date" name="date"  [(ngModel)]="general.appointmentDate" required>
                </div>
            </td>
        </tr>
        <br>
        
        <br>
        <tr>
         <td>
           Do you have dry cough?
         </td>
         <td>
             <input type="radio" class="custom-control-input" value="yes" name="trueValue1"  [(ngModel)]="general.dryCough" required="required">Yes
             <input type="radio" class="custom-control-input" value="no" name="trueValue1"  [(ngModel)]="general.dryCough" required="required">No
         </td>
        </tr>
        <br>
        <tr>
            <td>
                Do you have fever?
            </td>
            <td>
                <input type="radio" class="custom-control-input" value="yes" name="trueValue2"  [(ngModel)]="general.fever">Yes
                <input type="radio" class="custom-control-input" value="no" name="trueValue2" [(ngModel)]="general.fever">No
            </td>
        </tr>
        <br>
        <tr>
            <td>
                loss of taste or smell ?
            </td>
            <td>
                <input type="radio" class="custom-control-input" value="yes" name="trueValue3" [(ngModel)]="general.lossOfTaste">Yes
                <input type="radio" class="custom-control-input" value="no" name="trueValue3" [(ngModel)]="general.lossOfTaste">No
            </td>
        </tr>
           <br>
         <tr>
            <td>
                difficulty breathing or shortness of breath ?
            </td>
            <td>
                <input type="radio" class="custom-control-input" value="yes" name="trueValue4" [(ngModel)]="general.breath">Yes
                <input type="radio" class="custom-control-input" value="no" name="trueValue4" [(ngModel)]="general.breath">No
            </td>
        </tr>
    
           
           <br>
        </tbody>
     <!--<div class="custom-control custom-radio">
        Do you have history of foreign travelling?
        <input type="radio" class="custom-control-input" value="yes" name="trueValue9" ngModel>Yes
        <input type="radio" class="custom-control-input" value="no" name="trueValue9" ngModel>No
     </div>-->     
    </table>
    <div class="text-center">
     <button type="submit" class="btn btn-success btn-block ">Submit</button>
    </div>
   </form>
  
</body>
<br>
</div>
       
   